#myTabbedContent .tswTabBox
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-left: 10px;
}
#myTabbedContent .tswTabBox li
{
	float: left;
	text-align: center;
	background-color: #f0f0f0;
	margin-right: 10px;
	background-image: url('Images/TSWTab5PxRightUnselected_FFFFFF_F0F0F0.png');
	background-position: top right;
	background-repeat: no-repeat;
	cursor: pointer;
	color: #8d7d78;
}
#myTabbedContent .tswTabBox li div.tswTabOuterDiv
{
	background-image: url('Images/TSWTab5PxLeftUnselected_FFFFFF_F0F0F0.png');
	background-position: top left;
	background-repeat: no-repeat;
}
#myTabbedContent .tswTabBox li div div
{
	padding: 4px 10px 0px 10px;
}
#myTabbedContent .tswTabBox li a
{
	display: block;
}
#myTabbedContent .tswTabBox li.tswTabSelected
{
	background-color: #f5edd7;
	background-image: url('Images/TSWTab5PxRightSelected_FFFFFF_F5EDD7.png');
	padding-top: 0px;
	cursor: default;
	color: #49413e;
}
#myTabbedContent .tswTabBox li.tswTabSelected div.tswTabOuterDiv
{
	background-image: url('Images/TSWTab5PxLeftSelected_FFFFFF_F5EDD7.png');
}
#myTabbedContent .tswTabBox li.tswTabSelected div div
{
	z-index: 5;
}
#myTabbedContent .tswTabBox li.tswTabSelected a
{
}
#myTabbedContent .tswTabContent
{
	clear: both;
	text-align: left;
}
#myTabbedContent .tswTabContent div.tswTabContentUnselected,
#myTabbedContent .tswTabContent div.tswTabContentSelected
{
	position: absolute;
	top: 0px;
	border-width: 0px;
	background-color: #f5edd7;
	padding: 4px 4px 4px 4px;
	display: none;
	visibility: hidden;
	color: #49413e;
}
#myTabbedContent .tswTabContent div.tswTabContentSelected
{
	position: static;
	display: block;
	visibility: visible;
	zoom: 1; /*for IE*/
}
