<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

	<head>
		<title></title>
	</head>
	<body>


	</body>
/**
My styles
**/	
		h1 {
			text-align:center;
			image-align:center;
			text-decoration:none;
		}
	
		body { 
			background: url("/images/background.png");
			max-width: 950px;
			margin: 0 auto;
			
		}
		

		#left {
			width: 450px;
			float: left;
			text-align: center;
			padding: 40px;
		}
		#left img{
			width: 450px;
			height: auto;
			margin-top: 10px;
		}
		
		#footer {
			clear:both;
		}
		
		
		#articlewrapper {
			float: left;
			clear: right;
					
			border:1px solid black;
			width:880px;
			margin:5px;
			
			background: white;


			border-radius: 12px;
			background-clip: padding-box;
			padding:30px;
		}
		
		#right{
			margin: 15px;
			padding: 25px;
			float: left;
			clear: right;
			width: 300px;
				
		}