<!DOCTYPE html>

<html>

<head>

	<title>Hangman</title>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="/js/Hangman.js"></script>
	
	<link rel="stylesheet" href="/css/hangman.css" type="text/css">
	
	<script type='text/javascript'>
		$(document).ready(function() {
	
			// Initiate our game
			Hangman.set_board("board", "misses", "word", "guessed", 10);		

		});		
	</script>


</head>


<body>

	<div id='game'><img src='/images/hangman.png' </></div>

	<div id='missed'>
	<img src='/images/misses.png' </> <div id='misses' height:200px;
	width:200px; >0</div>
	</div>
	
	<div id='word'></div>

	<div id='board'></div>
	
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
	<img src='/images/guessed.png'/> 
	<div id='guessed'>0</div>


	<div style='clear:both'></div>
	
	<br><br>
	
	<br><br>
	<br><br>
	<br><br>

	This is a basic hangman game. There is a 7 limit on guesses. If the user reaches 7 guesses, the game is over and the player loses. There are also 5 words, if the user guesses all 5 words, he wins the game.
	
			
</body>

</html>