/**
My styles
**/	
		h1 {
			text-align:center;
			text-decoration:none;
		}
	
		body { 
			background: url("../images/background.png");
			max-width: 950px;
			margin: 0 auto;
			
		}
		

		#left {
			width: 450px;
			float: left;
			text-align: center;
		}
		#left img{
			width: 450px;
			height: auto;
			margin-top: 10px;
		}
		#right{
			float: left;
			clear: right;
			width: 450px;
		}
		#footer {
			clear:both;
		}
		#right{
			padding: 10px;
			border: 1px solid #333;
			width: 300px;
		}